header {
    background-color: #f9ff00;
    text-align: right;

}

h1 {
    margin:0;
}

nav {
    margin: 0;
    background-color: #008800;
    padding: 0;
    text-align: center;
}

nav ul {

    margin:0;
}

nav li {
    /* display:inline-block; */
    display: inline-block;
    background-color: black;
    padding:10px 50px;
    text-align: center;
}

nav li a {
    color: white;
}

.main {
    display: block;
    grid-template-columns: 7fr 3fr;
}

aside {
    float: right;
    position: relative;
    width: 15%;
    /*height: 100%;*/
    /* padding: 1%; */
    /*background-color: white;*/
    /*background-image: url("http://www.literarygenius.info/images/william-shakespeare.jpg")*/
    /*background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;*/
    /*grid-column: 2 / span 1;
    /*top:0px;*/
    /*bottom:0px;*/
    overflow: hidden;

}

#content {
    background-color: grey;
    width: 85%;
    padding: 1%;
    /*float:left;*/
    /*grid-column: 1 / span 1;*/
    /*overflow: hidden;*/
}

#content li {
    text-align:center;
}

footer {
    width: 85%;
    background-color: green;
    clear: both;
    padding: 1%;

}


