.about-page-main {
	margin-top: 2%;
}

.separator {
	margin-top: 5%;
	/*height: 50px;*/
	margin-bottom: 5%;
}

.select-pic img {
	margin-top:1%;
	width:100%;
	margin-bottom:1%;
}
.self-photo-row-1 {
	margin-bottom:1%;

}