* {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 650px) and (max-width: 1000px) {
  /* index.html */
  .top-nav ul {
    display: inline-block;
    margin-right: 25%;
    margin-left: 25%;
    width: 100%;

  }
  .top-nav ul li{
    display: inline-block;
    border-top: none;

  }
  .logo {
    border-bottom: 1px solid red;
    margin-left: 1em;
    margin-right: 1em;
  }
  
  /* image.html */
  .photo-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }

  .horizontal {
    grid-column: 1 / span 2;
    padding: 0;
  }

  .vertical .yellow {
    grid-column: 1 / span 1;
    padding: 0;
  }

  .vertical .purple {
    grid-column: 2 / span 2;
    padding: 0;
  }
}

@media only screen and (min-width: 1001px) {
  
  /* index.html */
  .top-nav ul {
    float:right;
    vertical-align: middle;
    margin-top:1em;
  }

  .logo {
    display: inline-block;
    float: left;
  }
  .top-nav ul li {
    display: inline-block;
    /*position: center;*/

  }
  .main-content-home {
    margin-top: 3em;
    /*padding: 0em;*/
    position: static;
    display:block;
  }

  /* image.html */
  .photo-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .photo-cell {
    padding: 0;
  }
  .black {
    grid-column: 1 / span 2;
  }

  .maroon {
    grid-column: 3 / span 2;
  }

  .vertical .yellow {
    grid-column: 1 / span 1;
  }

  .vertical .purple {
    grid-column: 2 / span 1;
  }

  .green {
    grid-column: 3 / span 2;
  }
  
  .lightblue {
    grid-column: 1 / span 2;
  }

  .red {
    grid-column: 3 / span 2;
  }
}
